#!/usr/bin/env xdg-open

[Desktop Entry]
Encoding=UTF-8
Categories=Utility;System;
Exec=dde-printer-helper
Icon=dde-printer
Name=Print Manager helper
Name[zh_CN]=打印管理器助手
Type=Application
X-Deepin-AppID=dde-printer
