[Desktop Entry]
Categories=Utility;System;
Encoding=UTF-8
Exec=dde-printer
GenericName=Print Manager
Icon=dde-printer
Name=Print Manager
Type=Application
X-Deepin-AppID=dde-printer

# Translations:
# Do not manually modify!
GenericName[zh_CN]=打印管理器
Name[zh_CN]=打印管理器

