Source: dde-printer
Section: misc
Priority: extra
Maintainer: Deepin Sysdev <sysdev@linuxdeepin.com>
Build-Depends: debhelper (>= 9),
 qt5-default,
 fakeroot,
 g++,
 libcups2-dev,
 qt5-qmake,
 libsmbclient-dev,
 libcrypto++-dev,
 libdtkwidget-dev,
 libgnutls28-dev,
 qt5-default,
 qttools5-dev-tools
Standards-Version: 3.9.5
Homepage: http://www.linuxdeepin.com/

Package: dde-printer
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Print Manager is a printer management tool, which supports adding and removing printers, managing print jobs and so on.
